{% extends '@layout/Login.twig' %}

{% block page %}

    <div class="content-wrapper h-100">
        <div class="content h-100">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
