{% extends '@layout/main.html.twig' %}

{% block page %}


<div class="app-wrapper">

    {% include '@common/header/header.html.twig' %}

    {% include '@common/side/menu.html.twig' %}

    <main class="app-main">

    {% block content %}{% endblock %}
    </main>

    {% include '@common/footer/footer.html.twig'%}
</div>
{% endblock %}
