#~ Composer
composer.phar
composer.lock
/vendor/

#~ npm related
assets/vendor/*

#~ App secrets
config/secrets/*
!config/secrets/.gitkeep

#~ Statics
public/assets

#~ Application
var/*
!var/.gitkeep

#~ CI
/build/

#~ Misc
.idea/
