includes:
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/rules.neon
  - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  phpVersion: 80300
  level: max
  paths:
    - ./bin/console
    - ./src
    - ./scripts
    - ./tests
    #- ./features/bootstrap # Maybe later

  bootstrapFiles:
    - ./vendor/autoload.php

  ignoreErrors:
    - identifier: missingType.generics
      path:       'src/Domain/User/Entity'
    - identifier: missingType.generics
      path:       'src/Domain/User/Infrastructure'
