{% extends '@layout/Main.twig' %}

{% block page %}

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">

            {% block content %}{% endblock %}

        </div>
    </div>

{% endblock %}
