
<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">{{ meta.app.version }}</div>
    <strong>
        Copyright &copy; {{ meta.copyright.year }}.
        <a href="#" class="text-decoration-none">{{ meta.copyright.name }}</a>.
    </strong>
    All rights reserved.
</footer>
