
<nav class="app-header navbar navbar-expand bg-body">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                    <i class="bi bi-list"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            {% include '@common/header/search.html.twig' %}
            {% include '@common/header/messages.html.twig' %}
            {% include '@common/header/notifications.html.twig' %}
            {% include '@common/header/profile.html.twig' %}
            {% include '@common/header/dark.html.twig' %}
        </ul>
    </div>
</nav>
